* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(235, 18%, 26%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    background-color: white;
    height: 60%;
    width: 50%;
    padding: 20px;

    border-radius: 20px;
}

#img img {
    height: 100%;
}